@font-face {
    font-family: Bahij;
    src: url(./../../font/Bahij_Palatino_Sans_Arabic-Regular.ttf) format('truetype');
}

div {
    font-family: Bahij, sans-serif;
}

body { 
    margin: 0 ; 
}

.blur-image {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    object-fit: "cover"
}

.container2 { 
    position: relative;
    margin: 0 ;
    margin-top: 65px;
}

.dark-layer { 
    position: absolute ; 
    top: 0 ; 
    left: 0 ; 
    width: 100% ; 
    height: 100%;
    color: gray;
    background-color: rgba(0, 0, 0 , 0.7);
}

.banner-container { 
    position: absolute;
    top: 50% ; 
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 70%; 
}

.banner1 {  
    width: 100%;
    height: 200px; 
}

.timer p {
    margin-top: -10px;
    margin-bottom: 3px;
    text-align: center;
}

.timer { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid ; 
    max-width: 600px;
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    grid-template-columns: auto  auto auto auto;
    padding: 10px;
    /* background-image: linear-gradient(to bottom right, rgb(113, 223, 217), rgb(148, 6, 94)); */
}

.banner2 { 
    display: block;
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.dark-layer { 
    position: absolute ; 
    top: 0 ; 
    left: 0 ; 
    width: 100% ; 
    height: 100%;
    color: gray;
    background-color: rgba(0, 0, 0 , 0.7);
}
 
.timer-text { 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(189, 184, 184); 
    font-size: 55px;
    text-align: center;
}

.timer-text2{ 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(189, 184, 184);
    font-size: 30px; 
    background-color: rgb(165 , 42 ,42);
    border: 3px solid rgb(156, 40, 40);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    padding: 2px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
}

.flipdown.flipdown__theme-dark { 
   position: absolute ; 
   left: 50% ; 
   top: 50% ; 
   transform: translate(-50% , -50% )
}

.timeline-container { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
}

.register-button { 
    background-color: black;
    font-size: 30px;
}

@media only screen and (max-width: 620px) {
    .banner1 { 
        display: none;
    }
    .banner2 { 
        display: block;
    }
    .timer-text {
        
        left: 50%;
        transform: translate(-50%, -50%);
    }  
}
 
@media only screen and (min-width: 620px) {
    .banner2 { 
        display: none;
    }
}
 
@media only screen and (max-width: 830px) { 
    .timer-text {
        top: 35%;
        font-size: 27px;
    }
}

@media only screen and (max-width: 550px) { 
    .timer-text2{ 
       
        font-size: 20px; 
        top: 58%;
      
    }
}