.footer-container {
    background-color: #191b1f ;
    position: relative;
    height: 400px;
    margin-top: 50px;
}
.iframe {
    border:none;
    width : 100% ;
    height: 300px;
    border-radius: 10px;
    margin:0;
}
.map-container { 
    width: 300px; 
    height: 300px;
    border-radius: 10px;
}

.row2 { 
    width: 700px; 
    left:50%;
    top: 45px;
    transform: translate(-50% , 0) ;
    position: relative;
}

.column1 { 
    position: absolute;
    top: 90px ; 
    left: 0;

}
.column1 img { 
    transform: scale(1.2);
}
.column2 { 
    position: absolute;
    top: 0 ; 
    right: 0;

}
.social_icon_div {
    margin: 22px;
}

.social_icon {
    color: #999999;
}
.icons {
    margin-top: -10px;
    display: flex;
}
.deep-footer{
    color: white;
    text-align: center;
    height: 30px;
    margin-top: -19px;
    margin-bottom: -19px;
    background: #191b1f;
}

.deep-footer span a{
    color: palevioletred;
    cursor: pointer;
    text-decoration: none;

}
.h-line{
    width: 470px ;
    position: absolute;
    bottom: 0 ; 
    left: 50% ; 
    transform: translate(-50% , 0 ); 

}

@media only screen and (max-width: 810px) {
    .row2 { 
        width: 300px; 
        top : 10px;
    }
    
    .column1 { 
        position: absolute;
        top: 330px ; 
        left: 0;
    
    }
    .column2 { 
        position: absolute;
        top: 0 ; 
        left: 0;
    
    }
    .footer-container {
        height: 500px;

    }
    .icons{
        height: 66px;
        
    }
    .h-line{
        border: 1px solid #999999;
    }
}

@media only screen and (max-width: 471px) {
    .h-line{
        width: 95%;
    }
}

@media only screen and (max-width: 405px) {
    .deep-footer{
        height: 60px;
      
    }
    .column1 img { 
        transform: scale(1);
    }
}