.slide-show { 
    background-color: rgba(0, 0, 0, .95) ; 
    position: fixed;
    top : 0 ; 
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.slid-image{ 
    position: fixed;
    top : 50% ; 
    left: 50%;
    width: 1000px;
    height: 750px;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 100;
}
.slide-show p{ 
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(12, 6, 46, 0.5);
    position: fixed;
    top : calc(50% + 364px); 
    left: 50%;
    transform: translate(-50% , 0%);
    box-sizing: border-box;
    z-index: 100;
}

.left { 
    background-color: rgba(240, 248, 255, 0.459);
    position: fixed;
    left: 15px;
    top: 50% ; 
    transform: translate(-0% , -50%);
    box-sizing: border-box;
    z-index: 101;
    cursor: pointer;
    width: 40px; 
    height: 40px;  
    border-radius: 50% ; 
    text-align: center;
    padding-top: 7px;
    padding-left: 5px;
}

.right { 
    background-color: rgba(240, 248, 255, 0.459);
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translate(-0% , -50%);
    box-sizing: border-box;
    cursor: pointer;
    z-index: 101;
    width: 40px; 
    height: 40px;  
    border-radius: 50% ;  
    text-align: center;
    padding-top: 7px;
    padding-right: 0px;
}

.close { 
    position: fixed;
    right: 30px;
    top : 30px;
    z-index: 101;
    background-color: rgba(240, 248, 255, 0.459);
    cursor: pointer;
}
.caounter {
    position: absolute;
    top: 30px ; 
    left: 30px;
    background-color: rgba(240, 248, 255, 0.459);
    padding: 5px 15px ; 
    border-radius: 10px;
    z-index: 101;
}
.photos{
    margin-left: 15px;
    width: 300px; 
    height: 210px;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
}

.single-photo-container { 
    max-width: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.gallery-container { 
    margin-left: 50% ; 
    transform: translate(-50% , 0);
    width: 1300px;
    display: grid; 
    grid-template-columns:auto auto auto auto  ;
}

.tabs { 
    margin-top: -70px;
    width: 1300px;
    margin-left: 50% ; 
    transform: translate(-50% , 0);
    display: grid ; 
    grid-template-columns:auto auto auto auto  ;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
 
}

.tabs p { 
    max-width: 300px;
    min-width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center ; 
    color: rgb(252, 251, 214);
    /* font-weight: bold; */
    font-size: 17px;
    padding: 3px 10px ;
    background: #222a20; 
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;

}
.photo-container { 
    margin-left: 50% ; 
    transform: translate(-50% , 0);
}


@media only screen and (max-width: 1460px) {
    .tabs{
        width: 1000px;
    }
    .gallery-container{
        width: 1000px;
        grid-template-columns: auto auto auto  ;
    }
    
}

@media only screen and (max-width: 1130px) {
    .tabs{
        width: 680px;
    }
    .gallery-container{
        width: 680px;
        grid-template-columns: auto auto   ;
    }
    .photos { 
        margin-left: 22px;
    }
    
}
@media only screen and (max-width: 770px) {
    .tabs{
        width: 300px;
    }
    .gallery-container{
        width:300px;
        grid-template-columns:  auto   ;
        box-sizing: border-box;
    }
    .photo-container { 
       max-width: 300px;
    }
    .photos { 
        margin-left: 0px;
    }
    
    
}
@media only screen and (max-width: 700px) {
    .tabs{
        grid-template-columns:auto   ;
    }
    .tabs p{
        margin-top: -10px;
    }
    .tabs p{
        min-width: 300px ; 
    }
    
}


@media only screen and (max-height: 810px) {
    .slid-image{ 
        width: 800px;
        height: 600px;
    }
    .slide-show p{ 
        top : calc(50% + 290px); 
    }
    
}

@media only screen and (max-height: 660px) {
    .slid-image{ 
        width: 400px;
        height: 300px;
    }
    .slide-show p{ 
        top : calc(50% + 140px); 
    }
    
}

@media only screen and (max-height: 395px) {
    .slid-image{ 
        width: 300px;
        height: 225px;
    }
    .slide-show p{ 
        top : calc(50% + 100px); 
        font-weight: normal; 

    }
    
}

@media only screen and (max-width: 1100px) {
    .slid-image{ 
        width: 800px;
        height: 600px;
    }
    .slide-show p{ 
        top : calc(50% + 290px); 
    }
    
}

@media only screen and (max-width: 910px) {
    .slid-image{ 
        width: 400px;
        height: 300px;
    }
    .slide-show p{ 
        top : calc(50% + 140px); 
    }
    
}

@media only screen and (max-width: 525px) {
    .slid-image{ 
        width: 300px;
        height: 225px;
    }
    .slide-show p{ 
        top : calc(50% + 100px); 
        font-weight: normal; 
        
    }
    
}
@media only screen and (max-height: 395px ) {
    .slid-image{ 
        width: 300px;
        height: 225px;
    }
    .slide-show p{ 
        top : calc(50% + 100px); 
        font-weight: normal; 

    }
    
}