.register_container { 
    margin: 80px;
}

.register_page_header {
    font-size: 50px;
    margin-bottom: -35px;
}

.register_page_second_header {
    font-size: 30px;
    margin-bottom: 40px;
}

.text_box {
    width: 400px;
    margin-right: 20px;
}

.contestant_header {
    margin-bottom: -25px; 
}

.contestant_box {
    margin-bottom: 15px;
}

.team_header {
    margin-bottom: -10px;
    margin-top: -10px;
    margin-left: 10px;
}

.team_box {
    margin-bottom: 15px;
}

.submit_button {
    
    position: absolute;
    left:50%;
    transform: translate( -50% , 0);
}

.team_header_box {
    display: flex;
}