.situation-card{
    width: 90% ;
    height: 100%;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    min-width: 300px; 
    padding-left: 7px;
    box-sizing: border-box;
    background-color: rgb(43, 46, 1);
    margin-left: 5% ; 
    margin-right: 5% ; 

}

.situation-card p{
    color: rgb(240, 209, 191);
    margin-top: -20px;
   
}

.situation-card p span {
    font-weight: bold;
}

.situation-card h1 { 
    color: bisque;
    margin-bottom: 10px;
}
.super-status-cards-container { 
    margin-top: 100px;
    position: relative;
    width: 100% ;
    height: 100%;
}
.status-cards-container { 
    margin-top: 100px;
    width: 1600px;
    margin-left: 50% ; 
    transform: translate(-50% , 0);
    display: grid ; 
    grid-template-columns:auto auto ;
}

.cards-container { 

    width: 100%;

}

@media only screen and (max-width: 1600px) {
    .status-cards-container { 
        width : 100%;

    }
}
@media only screen and (max-width: 790px) {
    .status-cards-container { 
        width : 100%;
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 400px) {
    .status-cards-container { 
        width : 300px;
        grid-template-columns: auto;
    }
    .situation-card{
        width: 90% ;
        margin-left: 0px;
    
    }
}