.part4-container { 
    position: relative ; 
    margin-left: 50% ; 
    transform: translate(-50% , 0 );
    margin-bottom: 0px;
    margin-top: 20px;
    width: 100% ; 
    max-width: 700px;
    height: 400px ;
    display: grid; 
    grid-auto-columns: auto auto;
}

.part4-inner-container { 
    position: absolute;
    right: 20px;
    top: 50% ;
    transform: translate(0 , -50%);
    margin-top: 100px;
    width: 300px;
}

.new-poster img { 
    position: absolute;
    left: 0px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.sponsor-container { 

    max-width: 297px;
    position: absolute ; 
    left : 10% ; 
    top :10% ; 
    margin-bottom: 10% ; 
    float: left;
    width: 50% ; 
}
.sponsor-container h4{ 
    text-align: center;
    position: block;
    width: 50% ; 
    color: #200957 ; 
    font-weight: bold ; 
    font-size: 30px; 

}

.sponsor-container img { 
    position: absolute;
    left: 50%;
    top: 50% ;
    width: 70% ; 
    height: 200px;;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.sponsor-box { 
    min-width: 300px;
    min-height: 300px;
    width : 300px ; 
    height: 300px ; 
    position: relative;
    margin-bottom: 100px;
    margin-top: 40px;
    border-radius: 10px;
}
.sponsor-box h1 { 
    text-align: center ;
    font-size: 25px;
    background: -webkit-linear-gradient(0deg, #200957 0%, #434892 55%, #32ce92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.line { 
    height: 0px;
    width: 70% ;
    position: absolute;
    left: 50% ; 
    transform: translate(-50% , 0);
    margin-top: -20px;
    border: 1px solid rgb(170, 159, 159); 
   
}
.sponsor-image {
    position: absolute;
    left: 50% ; 
    transform: translate(-50% , 0);
    margin-top: -80px;
}


.sponsor-image :hover{
    filter: opacity(80%);
}


.register-container { 
    float: right; 
    width : 50% ; 
}

.register-b { 
    background: -webkit-linear-gradient(0deg, #200957 0%, #434892 55%, #32ce92 100%) ; 
    padding: 20px;
    border-radius: 20px;
    width : 50% ; 
    align-items: center;
    

}
@media only screen and (max-width: 740px) {
    .part4-container { 
        width: 300px;
        height: 610px;
    }
    .part4-inner-container { 
        left: 50% ;
        top: 300px ;
        transform: translate(-50% , 0);
        margin-top: 100px;
        width: 300px;
    }
}