.successful-registration{
    position: relative;
    margin-top: 100px;
    margin-left: 50% ; 
    transform: translate(-50% , 0 ) ;
    text-align: center;
    height: 400px; 
    box-shadow: 4px 3px 15px rgba( 0 , 0 ,0 , .5);
    border-radius: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    color: rgb(3, 39, 24);
    max-width: 430px;
 
    

}

.successful-registration2{
    position: relative;
    margin-top: 100px;
    margin-left: 50% ; 
    transform: translate(-50% , 0 ) ;
    text-align: center;
    height: 400px; 
    box-shadow: 4px 3px 15px rgba( 0 , 0 ,0 , .5);
    border-radius: 5px;
    padding-top: 2%;
    box-sizing: border-box;
    color: rgb(3, 39, 24);
    max-width: 430px;
}

.registration-status-button {
    background-color: rgb(9, 85, 62);
    padding : 3px;
    width: 200px;
    position: absolute;
    left: 50% ; 
    transform: translate(-50% , 0 ) ;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    margin-top: 0px;
    cursor: pointer;
     
}

@media only screen and (max-width: 890px) {
    .successful-registration{
        width: 300px;
        height: 430px;
    }

    .successful-registration2{
        width: 300px;
        height: 430px;
    }
  
}