@font-face {
    font-family: myFirstFont;
    src: url(http://allfont.net/allfont.css?fonts=roboto-regular);
  }


.container { 
    background-color: #faf9f6 ; 
    position: fixed;
    top : 0 ; 
    right: 0;
    width: 100%;
    height: 70px;
    max-height: 80px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container a {
    color: black;
    float: right;
    margin-left: 10px;
    margin-right: 20px; 
    text-decoration: none;
    margin-top: 25px;
    font-family: myFirstFont;
    
    
}


.container img {
    margin-left: 60px; 
    margin-top: 6px;
}